.Navbar {
  padding-top: 1rem;
  height: 10vh;
  align-items: center;
  display: flex;
}

.left {
  width: 20%;
}

.center {
  padding-left: 27vw;
  align-items: stretch;
  width: 80%;
}

/* .right {
  width: 20%;
} */

.center > a {
  margin-left: 5vw;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
