.Navbar {
  height: 10vh;
  align-items: center;
  display: flex;
}
.left {
  width: 10%;
}

.center {
  align-items: stretch;
  width: 70%;
}

.right {
  width: 20%;
}

.center > a {
  margin-left: 5vw;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
